$primary-color: #1849C6;
$secondary-color: #FFCE31;

$dark-100: #021850;

$gray-100: rgba(0,1,3,0.7);
$gray-200: #2F2F2F;

$breakpoint-lg: 1199px;
$breakpoint-md: 991px;
$breakpoint-sm: 767px;
$breakpoint-xs: 575px;

$layer: ("high": 4, "medium": 3, "low": 2);